{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-6">
        Welcome to Gender Prediction Web App Project
    </h3>
    <br>
    <p>
        Gender Classification: 
        This app is driven by data and machine learning model.As soon as the user uploads an image, our model converts that image into grayscale, crops out the face, converts it into eigen image and finally we get the predicted gender from the image.
    </p>

</div>


{% endblock %}